header {
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	z-index: 1000;
	background-color: $vert-clair;

	nav.navbar-default {
		background-color: transparent;
		border: none;

		.navbar-nav {
			li {
				a {
					color: $blanc;
					padding: 15px 10px;
				}
			}
		}
		.navbar-toggle {
			border: none;

			.icon-bar {
				background-color: $blanc;
			}
			&:hover, &:focus {
				background-color: $blanc;

				.icon-bar {
					background-color: $vert-clair;
				}
			}
		}
	}
}