.classement {
    tbody {
        tr:nth-child(1) {
            background-color: rgba($vert, 0.5);
        }
        tr:nth-child(2) {
            background-color: rgba($vert, 0.3);
        }
        tr:nth-child(3) {
            background-color: rgba($vert, 0.1);
        }
        tr:nth-last-child(1) {
            background-color: rgba($rouge, 0.5);
        }
        tr:nth-last-child(2) {
            background-color: rgba($rouge, 0.3);
        }
        tr:nth-last-child(3) {
            background-color: rgba($rouge, 0.1);
        }
        td.serie {
            span {
                display: inline-block;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                margin-right: 5px;
                
                &.d {
                    background-color: $rouge2;
                }
                &.n {
                    background-color: $jaune;
                }
                &.v {
                    background-color: $vert2;
                }
            }
        }
    }
}
textarea {
	width: 100%;
}

.ligue1, .pl, .liga {
    td {
        &.perf-top {
            background-color: $vert;
        }
        &.perf-good {
            background-color: mix($vert, $orange);
        }
        &.perf-normal {
            background-color: $orange;
        }
        &.perf-bad {
            background-color: mix($orange, $rouge);
        }
        &.perf-awful {
            background-color: $rouge;
        }
    }
    th {
        .fa-circle {
            color: $vert;
        }
        .fa-circle-thin {
            color: $rouge;
        }
    }
    td {
        .fa-caret-right {
            color: $noir;
            padding-left: 5px;
            font-size: 16px;
        }
    }
}

// Page résultats

.listeJournees {
    margin-bottom: 25px;
    text-align: center;

    ul {
        display: inline-block;
        background-color: $vert;
        list-style: none;
        @include border-radius(8px);
        padding: 5px;
        text-align: center;

        li {
            display: inline-block;

            a {
                padding: 10px;
                color: $blanc;
            }
        }
    }
}

// Page statistiques
.stats {
    h3 {
        color: $vert;
        margin-bottom: 10px;
    }
}

// Page matchs
.header-match {
    margin: 25px 0;
    
    .equipe {
        position: relative;
        font-size: 20px;
        height: 54px;

        @media (max-width: 767px) {
            text-align: left;
            display: block;
        }
        span {
            position: absolute;
            top: 50%;
            left: 0;
            @include transform-translate(0, -50%);
            width: 100%;
        }
    }
    .score {
        display: inline-block;
        background-color: $gris-fonce;
        color: $blanc;
        padding: 5px 15px;
        @include border-radius(8px);
        font-size: 36px;

        @media (max-width: 767px) {
            float: right;
            font-size: 24px;
        }
    }
    .buteur {
        .fa {
            margin-left: 5px;
            
            + .fa {
                margin-left: 1px;
            }
            &.mpg {
                color: $vert;
            }
            &.cancel_goal {
                color: $rouge;
            }
            &.ownl_goal {
                color: $orange;
            }
        }
    }
    .buteursHome {
        .buteur {
            .fa {
                margin-left: 0;
                margin-right: 1px;
                
                &:last-child {
                    margin-right: 5px;
                }
            }
        }
    }
}

.content-match {
    .table {
        th, td {
            &.numero, &.remplacement, &.note, &.bonus, &.total-note {
                text-align: center;
            }
            &.remplacement {
                .out {
                    color: $rouge;
                }
                .in {
                    color: $vert;
                }
            }
            &.note {
                font-weight: bold;
                
                &.perf-top {
                    color: $vert;
                }
                &.perf-good {
                    color: mix($vert, $orange);
                }
                &.perf-normal {
                    color: $orange;
                }
                &.perf-bad {
                    color: mix($orange, $rouge);
                }
                &.perf-awful {
                    color: $rouge;
                }
            }
        }
    }
}

.alert {
    .fa {
        margin-right: 10px;
        font-size: 24px;
    }
}