.classement {
    tbody {
        tr:nth-child(1) {
            background-color: rgba($vert, 0.5);
        }
        tr:nth-child(2) {
            background-color: rgba($vert, 0.3);
        }
        tr:nth-child(3) {
            background-color: rgba($vert, 0.1);
        }
        tr:nth-last-child(1) {
            background-color: rgba($rouge, 0.5);
        }
        tr:nth-last-child(2) {
            background-color: rgba($rouge, 0.3);
        }
        tr:nth-last-child(3) {
            background-color: rgba($rouge, 0.1);
        }
        td.serie {
            span {
                display: inline-block;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                margin-right: 5px;
                
                &.d {
                    background-color: $rouge2;
                }
                &.n {
                    background-color: $jaune;
                }
                &.v {
                    background-color: $vert2;
                }
            }
        }
    }
}
textarea {
	width: 100%;
}

td {
	&.perf-top {
		background-color: $vert;
	}
	&.perf-good {
		background-color: mix($vert, $orange);
	}
	&.perf-normal {
		background-color: $orange;
	}
	&.perf-bad {
		background-color: mix($orange, $rouge);
	}
	&.perf-awful {
		background-color: $rouge;
	}
}
th {
	.fa-circle {
		color: $vert;
	}
	.fa-circle-thin {
		color: $rouge;
	}
}
td {
	.fa-caret-right {
		color: $noir;
		padding-left: 5px;
		font-size: 16px;
	}
}