/******* Liste des variables SCSS ********/

$blanc: #ffffff;

$gris-clair: #eaeaeb;

$gris-fonce: #42464d;

$noir: #000000;

$marron: #8a7a68;

$orange: #f0af25;

$jaune: #ffce04;

$bleu-clair: #0397d7;

$bleu-fonce: #282D4D;

$vert: #029f50;
$vert-clair: #45C945;

$rouge: #ff4b04;

$dore: #dac893;