/******* Liste des variables SCSS ********/
/*************************************************/
/*-------------------- MIXINS -------------------*/
/*************************************************/
/* Fichier Style CSS */
/* Font-face */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome.eot");
  src: url("../fonts/FontAwesome.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome.woff") format("woff"), url("../fonts/FontAwesome.ttf") format("truetype"), url("../fonts/FontAwesome.svg#PolicePerso") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Balises globales */
body, h1, h2, h3, h4, h5, ul, p, input, select, textarea, button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  outline: none; }

body {
  font-family: "Verdana", "Arial";
  font-size: 14px;
  margin: auto;
  padding: 50px 0;
  color: #333333; }

section {
  margin: 10px 0; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

a {
  color: #333333; }

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 1000;
  background-color: #45C945;
  color: #ffffff; }
  footer p {
    line-height: 50px; }

header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 1000;
  background-color: #45C945; }
  header nav.navbar-default {
    background-color: transparent;
    border: none; }
    header nav.navbar-default .navbar-nav li a {
      color: #ffffff;
      padding: 15px 10px; }
    header nav.navbar-default .navbar-toggle {
      border: none; }
      header nav.navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff; }
      header nav.navbar-default .navbar-toggle:hover, header nav.navbar-default .navbar-toggle:focus {
        background-color: #ffffff; }
        header nav.navbar-default .navbar-toggle:hover .icon-bar, header nav.navbar-default .navbar-toggle:focus .icon-bar {
          background-color: #45C945; }

.classement {
  margin: 30px 0; }
  .classement h3 {
    margin-bottom: 15px; }
  .classement .table thead th {
    text-align: center; }
    .classement .table thead th.equipe {
      text-align: left;
      width: 33%; }
  .classement .table tbody tr:nth-child(1) {
    background-color: rgba(2, 159, 80, 0.5); }
  .classement .table tbody tr:nth-child(2) {
    background-color: rgba(2, 159, 80, 0.3); }
  .classement .table tbody tr:nth-child(3) {
    background-color: rgba(2, 159, 80, 0.1); }
  .classement .table tbody tr:nth-last-child(1) {
    background-color: rgba(255, 75, 4, 0.5); }
  .classement .table tbody tr:nth-last-child(2) {
    background-color: rgba(255, 75, 4, 0.3); }
  .classement .table tbody tr:nth-last-child(3) {
    background-color: rgba(255, 75, 4, 0.1); }
  .classement .table tbody td {
    text-align: center; }
    .classement .table tbody td.equipe {
      text-align: left; }
    .classement .table tbody td.serie span {
      display: inline-block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin-right: 5px; }
      .classement .table tbody td.serie span.d {
        background-color: #ff0000; }
      .classement .table tbody td.serie span.n {
        background-color: #ffce04; }
      .classement .table tbody td.serie span.v {
        background-color: #228f60; }

textarea {
  width: 100%; }

.ligue1 td.perf-top, .pl td.perf-top, .liga td.perf-top {
  background-color: #029f50; }

.ligue1 td.perf-good, .pl td.perf-good, .liga td.perf-good {
  background-color: #79a73b; }

.ligue1 td.perf-normal, .pl td.perf-normal, .liga td.perf-normal {
  background-color: #f0af25; }

.ligue1 td.perf-bad, .pl td.perf-bad, .liga td.perf-bad {
  background-color: #f87d15; }

.ligue1 td.perf-awful, .pl td.perf-awful, .liga td.perf-awful {
  background-color: #ff4b04; }

.ligue1 th .fa-circle, .pl th .fa-circle, .liga th .fa-circle {
  color: #029f50; }

.ligue1 th .fa-circle-thin, .pl th .fa-circle-thin, .liga th .fa-circle-thin {
  color: #ff4b04; }

.ligue1 td .fa-caret-right, .pl td .fa-caret-right, .liga td .fa-caret-right {
  color: #000000;
  padding-left: 5px;
  font-size: 16px; }

.listeJournees {
  margin-bottom: 25px;
  text-align: center; }
  .listeJournees ul {
    display: inline-block;
    background-color: #029f50;
    list-style: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
    text-align: center; }
    .listeJournees ul li {
      display: inline-block; }
      .listeJournees ul li a {
        padding: 10px;
        color: #ffffff; }

.stats h3 {
  color: #029f50;
  margin-bottom: 10px; }

.header-match {
  margin: 25px 0; }
  .header-match .equipe {
    position: relative;
    font-size: 20px;
    height: 54px; }
    @media (max-width: 767px) {
      .header-match .equipe {
        text-align: left;
        display: block; } }
    .header-match .equipe span {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%; }
  .header-match .score {
    display: inline-block;
    background-color: #42464d;
    color: #ffffff;
    padding: 5px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    font-size: 36px; }
    @media (max-width: 767px) {
      .header-match .score {
        float: right;
        font-size: 24px; } }
  .header-match .buteur .fa {
    margin-left: 5px; }
    .header-match .buteur .fa + .fa {
      margin-left: 1px; }
    .header-match .buteur .fa.mpg {
      color: #029f50; }
    .header-match .buteur .fa.cancel_goal {
      color: #ff4b04; }
    .header-match .buteur .fa.ownl_goal {
      color: #f0af25; }
  .header-match .buteursHome .buteur .fa {
    margin-left: 0;
    margin-right: 1px; }
    .header-match .buteursHome .buteur .fa:last-child {
      margin-right: 5px; }

.content-match .table th.numero, .content-match .table th.remplacement, .content-match .table th.note, .content-match .table th.bonus, .content-match .table th.total-note, .content-match .table td.numero, .content-match .table td.remplacement, .content-match .table td.note, .content-match .table td.bonus, .content-match .table td.total-note {
  text-align: center; }

.content-match .table th.remplacement .out, .content-match .table td.remplacement .out {
  color: #ff4b04; }

.content-match .table th.remplacement .in, .content-match .table td.remplacement .in {
  color: #029f50; }

.content-match .table th.note, .content-match .table td.note {
  font-weight: bold; }
  .content-match .table th.note.perf-top, .content-match .table td.note.perf-top {
    color: #029f50; }
  .content-match .table th.note.perf-good, .content-match .table td.note.perf-good {
    color: #79a73b; }
  .content-match .table th.note.perf-normal, .content-match .table td.note.perf-normal {
    color: #f0af25; }
  .content-match .table th.note.perf-bad, .content-match .table td.note.perf-bad {
    color: #f87d15; }
  .content-match .table th.note.perf-awful, .content-match .table td.note.perf-awful {
    color: #ff4b04; }

.alert .fa {
  margin-right: 10px;
  font-size: 24px; }



/*# sourceMappingURL=app.css.map*/